{% extends 'base.html' %}

{% block title %}Create Post- {{user.get_user_full_name()}}{% endblock %}

{% block content %}
<h1>Add Post for {{user.get_user_full_name()}}</h1>
{% if errors %}
    {%for error in errors%}
    <p class="alert alert-danger">{{error}}</p>
    {% endfor %}
{% endif %}
<form action="/users/{{user.id}}/posts/new" method="POST">
    <div><label for="title">Title</label></div>
    <div><input class="form-control" type="text" name="title"></div>
    <div><label for="post-content">Post Content</label></div>
    <div><input class="form-control" type="text" name="content"></div>
    <div><label for="tags">Tags</label></div>
    {% if tags %}
        {% for tag in tags %}
        <div class="form-check">
            <input name="tags" class="form-check-input" type="checkbox" value="{{tag.id}}" id="{{tag.name}}">
            <label class="form-check-label" for="{{tag.name}}">
              {{tag.name}}
            </label>
          </div>
        {% endfor %}
    {% endif %}
    <a class="btn btn-outline-primary" href="/users/{{user.id}}">Cancel</a>
    <button class="btn btn-outline-success">Add</button>
</form>
{% endblock %}