{% extends 'base.html' %}

{%block stylesheets%}
<link rel="stylesheet" href="/static/user-details.css">
{% endblock %}
{% block title%}User {{user.get_user_full_name()}}{% endblock %}
{% block content %}
<style>
    .user-profile{
        display: flex;
        margin: auto;
    }

    .user-details{
        padding-top: 20px;
    }
    
    #user-image{
        width: 250px;
        height: 250px;
    }
    
    .buttons{
        display: flex;
    }
    a{  
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 20px;
    }
</style>
<div class="user-profile">
    <div>
        <img id="user-image" src="{{user.image_url}}" alt="">
    </div>
    <div class="user-details">
        <h1>{{user.get_user_full_name()}}</h1>
        <div class="buttons">
            <a href="/users/{{user.id}}/edit" class="btn btn-outline-primary">Edit</a>
            <form action="/users/{{user.id}}/delete" method="POST">
                <button class="btn btn-outline-danger">DELETE</button>
            </form>
        </div>
        <div id="posts">
            <h2>Posts</h2>
            <ul>
                {% if posts %}
                {% for post in posts %}
                <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
                {% endfor %}
                {% endif %}
            </ul>
            <a class="btn btn-outline-primary" href="/users/{{user.id}}/posts/new">Add Post</a>
        </div>
    </div>

</div>
{% endblock %}


