{% extends "base.html" %}

{% block title %}Home Page{% endblock  %}

{% block content %}
<style>
    #pets-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card{
        margin-bottom: 20px !important;
    }
</style>
<h1>Pets</h1>
<div id=pets-container>
{% for pet in pets%}
<div class="card" style="width: 18rem;">
<img class="card-img-top" src="{{pet.photo_url}}" alt="" width="5rem" height="100%">
<hr style="width: 100%">
<div class="card-body">
    <h5 class="card-title"><a href="/{{pet.id}}">{{pet.name}}</a></h1>
    {% if pet.available %}
    <p>{{pet.name}} is available!</p>
    {% else %}
    <p>{{pet.name}} has been adopted! Yay!</p>
    {% endif %}
</div>
</div>
{% endfor %}
</div>
<a style="margin-top: 10px; margin-bottom: 10px" class="btn btn-success" href="/add">Add a Pet</a>
{% endblock  %}